{% extends 'base.html' %}
{% load static %}


  {% block title %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\signup.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">

  <style>
    .login-box input {
            width: 100%;
            font-family: 'poppins', sans-serif;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-box {
          margin: 0 150px 100px 150px; 
          padding: 40px; 
          background: #dddddd00;
        }
        /*mobile view*/
        @media (max-width: 768px){
            .login-box{
                margin: 0 10px 100px 10px;
            }

        }
  </style>
{% endblock title %}

{% block content %}  
<h1 style="text-align: center; margin-block: 50px;">Create a New Account</h1>
<form class="login-box" method="POST" action=".">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Sign Up">

    <br>
        <div class="account" style="margin: 10px 0">
            <p>Already have an account? <span class="auth-text">Login here</span> </p>
        </div>
</form>

<script>
    $(document).ready(function(){
         $(".auth-text").click(function(){
         window.location.href = "{% url 'signin' %}";
         });
        });
</script>

{% endblock content %}