.parallax {
    /* The image used */
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax h1{
    text-align: center;
    justify-content: center;
    color:#fff;
    font-size: 60px;
    padding-top: 14%;
  }
  hr .line{
    border: 0;
    height: 2px;
    width: 100%;
    margin: 15px 0 10px;
  }
  .nav-link{
    color: #38444d;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
  } 
  .nav-link i{
    font-size: 20px;
  }
  .nav-link a{
    color: #38444d;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-link a:hover{
    text-shadow: 2px 2px 8px #555;
  }
  .nav-link p{
    display: inline-block;
  } 
  .nav-to-right{
    display: flex;
    justify-content: flex-start;
    color: #38444d;
    margin-left: 150px;
    margin-right: 150px;
  }
  .nav-to-right i{
    font-size: 23px;
  }
  .nav-to-right p:hover{
    color: #fff;
    background: #38444d;
    border: 1px solid #7d95a7;
    cursor: pointer;
  }
  .nav-to-right-content p{
    padding: 11px;
    background: #dddddd4f;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #38444d;
  }
  .nav-to-right button{
    padding: 11px;
    background: #dddddd4f;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #38444d;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  .nav-to-right button:hover{
    color: #fff;
    background: #38444d;
    border: 1px solid #7d95a7;
    cursor: pointer;
  }
.nav-line{
  width: 300px;
  margin-left: 150px;
  margin-bottom: 40px;
}
