@media screen and (max-width: 768px) {
  .nav-to-right, .nav-line{
    margin-left: 20px;
  }
  .nav-link{
    margin-left: 20px;
    margin-right: 0;
  }
}
.sidenav{
  width: 200px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 806px;
  z-index: 2;
  overflow-x: hidden;
}
.sidenav a{
  padding: 10px 0px 10px 30px;
  text-decoration: none;
  font-size: 14px;
  color: #38444d;
  display: block;
}
.sidenav a:hover{
  color: #004085;
}
.story1{ 
  padding: 50px 150px 100px 60px;
  margin-left: 200px;
  align-items: center;
  text-align: justify;
}
.story1 .h4{
  text-align: center;
}
.story1 .p{
  text-align: justify;
}

hr .line{
  border: 0;
  height: 2px;
  width: 100%;
  margin: 15px 0 10px;
}
.toggle-story {
display: none;
}
/* Adjustments for mobile view */
@media screen and (max-width: 768px) {
  .sidenav {
    display: none;
  }
/* Adjust content padding to not overlap with the sidenav */
.story1 {
  padding: 20px;
  margin-bottom: 60px; /* Add space at the bottom for sidenav */
  margin-left: 0;
}
}
  .parallax {
    /* The image used */
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax h1{
    text-align: center;
    justify-content: center;
    color:#fff;
    font-size: 60px;
    padding-top: 14%;
  }
  
  .nav-link{
    color: #38444d;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
  } 
  .nav-link i{
    font-size: 20px;
  }
  .nav-link a{
    color: #38444d;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-link a:hover{
    text-shadow: 2px 2px 8px #555;
  }
  .nav-link p{
    display: inline-block;
  } 
  .nav-to-right{
    display: flex;
    justify-content: flex-start;
    color: #38444d;
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-to-right i{
    font-size: 23px;
  }
  .nav-to-right p:hover{
    color: #fff;
    background: #38444d;
    border: 1px solid #7d95a7;
    cursor: pointer;
  }
  .nav-to-right-content p{
    padding: 11px;
    background: #dddddd4f;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #38444d;
  }
  .nav-to-right-content button{
    padding: 11px;
    background: #dddddd4f;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #38444d;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  .nav-to-right button:hover{
    color: #fff;
    background: #38444d;
    border: 1px solid #7d95a7;
    cursor: pointer;
  }
.nav-line{
  width: 260px;
  margin-left: 100px;
  margin-bottom: 40px;
}
