{% extends 'base.html' %}
{% load static %}
  {% block title %}
    <title>Separation Between Different Types of Seas</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\sciencescontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .sciences img{
        width: 600px;
        height: 370px;
      }
      .sciences{ 
        padding: 50px 150px 50px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
      }
      .reference{
        display: flex;
        flex-direction: column;
        padding: 0px 100px 100px 150px;
      }
      .sciences h1{
        margin-bottom: 10px;
        text-align: center;
      }
    
      .reference h4{
        color:#555;
      }
      
      .reference p{
        font-weight: 300;
      }
    
          @media screen and (max-width: 768px) {
        .nav-to-right, .nav-line{
          margin-left: 20px;
        }
        .nav-link{
          margin-left: 20px;
          margin-right: 0;
        }
        .sciences{
          padding: 50px 20px 50px 20px;
        }
        .sciences h1{
        text-align: center;
      }
        .sciences img{
          width: 300px;
          height: 160px;
        }
        .reference{
          padding: 0px 20px 100px 20px;
        }
      }
    </style>
    {% endblock title %}
    {% block content %}
<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'science' %}"> Sciences </a><span><i class="fa-solid fa-chevron-right"></i>
    </span> Separation Between Different Types of Seas</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this, 'Science-Separation-Between-Different-Types-of-Seas')" data-slug="Science-Separation-Between-Different-Types-of-Seas"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.date|date}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>

<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Sciences content-->
      <div class="sciences">

        <h1>Separation Between Different Types of Seas</h1>
        <img src="https://qph.cf2.quoracdn.net/main-qimg-8d7e62efc0a76192929fbd1d8d747032.webp" width="600" height="370"><br>
        <h4>Quranic Verse</h4><br>
        <p>The Qur'an mentions the existence of barriers between different types of waters in Surah Ar-Rahman (55:19-22) and Surah Al-Furqan (25:53): </p>
        <br>
        <p>Surah Ar-Rahman (55:19-22)</p>
        <p>مَرَجَ ٱلْبَحْرَيْنِ يَلْتَقِيَانِ ١٩بَيْنَهُمَا بَرْزَخٌۭ لَّا يَبْغِيَانِ ٢٠فَبِأَىِّ ءَالَآءِ رَبِّكُمَا تُكَذِّبَانِ ٢١يَخْرُجُ مِنْهُمَا ٱللُّؤْلُؤُ وَٱلْمَرْجَانُ ٢٢</p>
        <p>He merges the two bodies of ˹fresh and salt˺ water, yet between them is a barrier they never cross. Then which of your Lord’s favours will you both deny? Out of both ˹waters˺ come forth pearls and coral.</p>
        <br>
        <p>Surah Al-Furqan (25:53)</p>
        <p>۞ وَهُوَ ٱلَّذِى مَرَجَ ٱلْبَحْرَيْنِ هَـٰذَا عَذْبٌۭ فُرَاتٌۭ وَهَـٰذَا مِلْحٌ أُجَاجٌۭ وَجَعَلَ بَيْنَهُمَا بَرْزَخًۭا وَحِجْرًۭا مَّحْجُورًۭا ٥٣</p>
        <p>nd He is the One Who merges the two bodies of water: one fresh and palatable and the other salty and bitter, placing between them a barrier they cannot cross.</p> 
        <br><h4>Scientific Insights</h4><br>
        <p>Scientific studies have identified a phenomenon known as a cline, which is divided into three types: thermocline (temperature differences between two water masses), halocline (salinity differences), and pycnocline (density differences). </p>
        <br>
        <p>Examples of this phenomenon include the meeting of waters between the Bering Sea and the Gulf of Alaska, the Strait of Gibraltar where the Mediterranean Sea meets the Atlantic Ocean, and the discovery of freshwater springs under the sea by Jacques-Yves Cousteau. 
        </p> 
         
      </div>
        <div class="reference">
        <h4>References:</h4>
        <p>Knauss, John A. (1997).Introduction To Physical Oceanorgraphy. 2nd Edition, Prentice-Hall.</p>
          <p>Siri Al-Quran Mendahului Sains (n.d)</p>
        </div>
        <script>
          function on() {
            document.getElementById("overlay").style.display = "block";
          }
          
          function off() {
            document.getElementById("overlay").style.display = "none";
          }
          function toggleBookmark(element, slug) {
            // Check if user is authenticated
            const isAuthenticated = document.body.getAttribute('data-user-authenticated') === 'true';
        
            if (!isAuthenticated) {
                window.location.href = '/account/signin/'; // Redirect to sign-in page
                return;
            }
        
            // Proceed with bookmark toggle for authenticated users
            fetch(`/toggle_bookmark/${slug}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Function to get CSRF token
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'slug': slug })
            })
            .then(response => response.json())
            .then(data => {
                if (data.bookmarked) {
                    element.classList.remove('fa-regular');
                    element.classList.add('fa-solid');
                } else {
                    element.classList.remove('fa-solid');
                    element.classList.add('fa-regular');
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
        // Function to get CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        document.addEventListener("DOMContentLoaded", function() {
            // Assuming the user is authenticated; adjust as needed
            updateUserBookmarkIcons();
        });
        
        function updateUserBookmarkIcons() {
            fetch('/get_user_bookmarks/', { // Adjusted to the correct path
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    // Include CSRF token if needed for GET requests or ensure your view is exempt
                },
            })
            .then(response => response.json())
            .then(data => {
                const bookmarkedSlugs = data.bookmarkedSlugs;
                bookmarkedSlugs.forEach(slug => {
                    const bookmarkIcon = document.querySelector(`i[data-slug="${slug}"]`);
                    if (bookmarkIcon) {
                        bookmarkIcon.classList.remove('fa-regular');
                        bookmarkIcon.classList.add('fa-solid');
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        }
          </script>
        
        <script src="{% static 'js/trialforum.js' %}"></script>   
        {% endblock content %}