{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Milk Production In Livestock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="shortcut icon" href="{% static 'assets\logo\icon3.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css\main.css' %}">
  <link rel="stylesheet" href="{% static 'css\nav.css' %}">
  <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
  <link rel="stylesheet" href="{% static 'css\forum.css' %}">
  <link rel="stylesheet" href="{% static 'css\sciencescontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
 <!--Navigation Bar-->
 <nav>
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'assets\logo\logo.svg' %}" alt="logo" width="300" ></a>
    </div>
    <div class="toggle">
        <a href ="#"><ion-icon name="menu-outline"></ion-icon></a>
    </div>
      <ul class="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'story' %}">Stories In Quran</a></li>
        <li><a href="{% url 'science' %}">Sciences In Quran</a></li>
        <li><a href="{% url 'doa' %}">Dua'</a></li>
        <li><a href="{% url 'faq' %}">Ask a Question</a></li>
        <li><a href="{% url 'quiz' %}">Quiz</a></li>
        {% if user.is_authenticated %}
        <li class="auth-icon"><a href="{% url 'logout' %}"><ion-icon name="log-out-outline"></ion-icon></a></li>
        {% else %}
        <li class="auth-icon"><a href="{% url 'signup' %}"><ion-icon name="person-outline"></ion-icon></a></li>
        <!--<li class="auth-icon"><a href="{% url 'signin' %}"><ion-icon name="person-circle-outline"></ion-icon></a></li>-->
        {% endif %}
      </ul>
    </nav>


 <!--menu script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(function(){
        $(".toggle").on("click", function(){
            if($(".menu").hasClass("active")){
                $(".menu").removeClass("active");
                $(this).find("a").html("<ion-icon name='menu-outline'></ion-icon>");
            }else{
                $(".menu").addClass("active");
                $(this).find("a").html("<ion-icon name='close-outline'></ion-icon>");
            }
        })
    })
  </script>


<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'science' %}"> Sciences </a><span><i class="fa-solid fa-chevron-right">

    </i></span> Milk Production In Livestock</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <!--<p><i class="fa-regular fa-bookmark"></i></p>-->
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this)"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.date|date}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>

  <script>
      function on() {
        document.getElementById("overlay").style.display = "block";
      }
      
      function off() {
        document.getElementById("overlay").style.display = "none";
      }
      </script>

<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Sciences content-->
      <div class="sciences">

        <div class="sciences">

          <h1>Milk Production In Livestock</h1>
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOGN03iB5fE2b_w_vRymm2wgoGsGq2qifGhv6EZEcZiK3w6rE0qv1DlAvhrgWklgXgKBnnqD5-XGPQpNxZCKlyr1lc1xzKUB8xE62hR4l3tKQA1Q8wDTx7h8H5SYcd7U02Oj20XRhRrNdZ/s640/milk+nutrients.png" width="600" height="600"><br>
          <h4>Quranic Verse</h4><br>
          <p>وَإِنَّ لَكُمْ فِى ٱلْأَنْعَـٰمِ لَعِبْرَةًۭ ۖ نُّسْقِيكُم مِّمَّا فِى بُطُونِهِۦ مِنۢ بَيْنِ فَرْثٍۢ وَدَمٍۢ لَّبَنًا خَالِصًۭا سَآئِغًۭا لِّلشَّـٰرِبِينَ ٦٦</p>
          <p>“And there is certainly a lesson for you in cattle: We give you to drink of what is in their bellies, from between digested food and blood: pure milk, pleasant to drink.”</p>
          <br>
          <h4>Scientific Insights</h4><br>
          <p>Milk is produced in the mammary gland and is excreted through the udder. According to the anatomical diagram of a cow's body, 
              this part is located beneath the cow's stomach (omasum and abomasum). Also, according to the cow's anatomical diagram, 
              when viewed from the front, this part is situated after the liver and before the fecal canal. Therefore, if viewed from the side, 
              based on verse 66 of Surah An-Nahl, it is indeed true that the Qur'an states that the mammary gland is located between the liver and the fecal canal. 
              This is also true for the production of milk in other livestock animals such as camels and goats.
          </p><br>
      </div>
          <div class="reference">
              <h4>References:</h4>
              <p>Merle Cunningham, Animal Science and Industry.</p>
              <p>Siri Al-Quran Mendahului Sains (n.d)</p>
          </div>
      
      <!--scroll to top button-->
  <a href="#" class="scrollToTop">
    <ion-icon name="chevron-up-circle-outline"></ion-icon></a>
    <script src="{% static 'js\scroll.js' %}"></script> 
     
<!--Footer Section-->
<footer>
  <div class="footer-container">
    <div class="footer-content">
      <h4>Contact Us</h4>
      <p>Email: <a href="mailto:athirahzaaba00gmail.com" style="text-decoration: none; color:#fff; font-size: 13px;">athirahzaaba00gmail.com</a></p>
      <p>International Islamic University of Malaysia <br>Jalan Gombak, <br>53100 Kuala Lumpur, <br>Selangor</p>
    </div>
    <div class="footer-content">
      <h4>Quick Links</h4>
        <ul class="list">
          <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'story' %}">Stories In Quran</a></li>
            <li><a href="{% url 'science' %}">Sciences In Quran</a></li>
            <li><a href="{% url 'doa' %}">Dua'</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
        </ul>
    </div>
    <div class="footer-content">
      <h4>Follow Us</h4>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/nurathirah.zaaba/"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li><a href="https://www.instagram.com/ch0cbby/"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li><a href="https://www.linkedin.com/in/nur-athirah-a6b69b238/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 QuranWisdom | Designed by Athirah Zaaba</p>
</footer> 

<script>
  function on() {
    document.getElementById("overlay").style.display = "block";
  }
  
  function off() {
    document.getElementById("overlay").style.display = "none";
  }
</script>
<script>
  function toggleBookmark(element) {
    element.classList.toggle('fa-solid');
    element.classList.toggle('fa-regular');
  }

  function saveBookmarkToProfile(isSaved) {
      console.log('Saving to profile:', isSaved);
      // Implement the server call here, e.g., using fetch API or XMLHttpRequest
      // This is a mock of what might be done:
      fetch('/api/save-bookmark', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ saved: isSaved })
      })
      .then(response => response.json())
      .then(data => console.log('Response from server:', data))
      .catch(error => console.error('Error saving bookmark:', error));
  }
</script>
  </body>

</html>