{% extends 'base.html' %}
{% load static %}
  {% block title %}
    <title>Parents</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\duacontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .dua-content-container{ 
          padding: 50px 100px 50px 100px;
          position:relative;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 1%;
        }
        .dua-content-container .card-dua{
          width: 380px;
          background:#f0f0f0;
          margin: 5px 17px;
          padding: 30px 15px;
          display: flex;
          flex-direction: column;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s ease-in-out;
          margin-top: 4%;
          border-radius: 10px;
        }
        .dua-list{
          display: flex;
          flex-direction: column;
        }
      .card-dua{
        justify-content: center;
        height:450px;
        display: flex;
      }
      
      /*mobile view*/
      @media screen and (max-width: 768px){
        .dua-content-container{
          flex-direction: column;
          padding: 20px; /* Adjust padding for mobile */
        }
        .card-dua{
          width: 100%; /* Full width for mobile view */
          margin: 10px 0; /* Adjust margin for spacing between cards */
          height: auto;
        }
        .nav-to-right, .nav-line{
        margin-left: 20px;
      }
      .nav-link{
        margin-left: 20px;
        margin-right: 0;
      }
      }
    </style>
{% endblock title %}
{% block content %}  
<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'doa' %}"> Dua' </a><span><i class="fa-solid fa-chevron-right"></i></span> Parents</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this, 'Doa-Parents')" data-slug="Doa-Parents"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.created_at|date:"F d, Y H:i"}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>
<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Doa content-->
      <div class="dua-content-container" style="margin-bottom: 50px;">
 
          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">رَبِّ ٱجْعَلْنِى مُقِيمَ ٱلصَّلَوٰةِ وَمِن ذُرِّيَّتِى ۚ رَبَّنَا وَتَقَبَّلْ دُعَآءِ ٤٠رَبَّنَا ٱغْفِرْ لِى وَلِوَٰلِدَىَّ وَلِلْمُؤْمِنِينَ يَوْمَ يَقُومُ ٱلْحِسَابُ ٤١</p>
              <p class="translation">My Lord! Make me and those ˹believers˺ of my descendants keep up prayer. Our Lord! Accept my prayers. Our Lord! Forgive me, my parents, and the believers on the Day when the judgment will come to pass.”</p>
              <p class="verse">Ibrahim verse 40-41</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">وَٱخْفِضْ لَهُمَا جَنَاحَ ٱلذُّلِّ مِنَ ٱلرَّحْمَةِ وَقُل رَّبِّ ٱرْحَمْهُمَا كَمَا رَبَّيَانِى صَغِيرًۭا ٢٤</p>
              <p class="translation">And be humble with them out of mercy, and pray, “My Lord! Be merciful to them as they raised me when I was young.”</p>
              <p class="verse">Al-Isra verse 24</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">فَتَبَسَّمَ ضَاحِكًۭا مِّن قَوْلِهَا وَقَالَ رَبِّ أَوْزِعْنِىٓ أَنْ أَشْكُرَ نِعْمَتَكَ ٱلَّتِىٓ أَنْعَمْتَ عَلَىَّ وَعَلَىٰ وَٰلِدَىَّ وَأَنْ أَعْمَلَ صَـٰلِحًۭا تَرْضَىٰهُ وَأَدْخِلْنِى بِرَحْمَتِكَ فِى عِبَادِكَ ٱلصَّـٰلِحِينَ ١٩</p>
              <p class="translation">So Solomon smiled in amusement at her words, and prayed, “My Lord! Inspire me to ˹always˺ be thankful for Your favours which You have blessed me and my parents with, and to do good deeds that please you. Admit me, by Your mercy, into ˹the company of˺ Your righteous servants.”</p>
              <p class="verse">An-Naml verse 19</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">وَوَصَّيْنَا ٱلْإِنسَـٰنَ بِوَٰلِدَيْهِ إِحْسَـٰنًا ۖ حَمَلَتْهُ أُمُّهُۥ كُرْهًۭا وَوَضَعَتْهُ كُرْهًۭا ۖ وَحَمْلُهُۥ وَفِصَـٰلُهُۥ ثَلَـٰثُونَ شَهْرًا ۚ حَتَّىٰٓ إِذَا بَلَغَ أَشُدَّهُۥ وَبَلَغَ أَرْبَعِينَ سَنَةًۭ قَالَ رَبِّ أَوْزِعْنِىٓ أَنْ أَشْكُرَ نِعْمَتَكَ ٱلَّتِىٓ أَنْعَمْتَ عَلَىَّ وَعَلَىٰ وَٰلِدَىَّ وَأَنْ أَعْمَلَ صَـٰلِحًۭا تَرْضَىٰهُ وَأَصْلِحْ لِى فِى ذُرِّيَّتِىٓ ۖ إِنِّى تُبْتُ إِلَيْكَ وَإِنِّى مِنَ ٱلْمُسْلِمِينَ ١٥</p>
              <p class="translation">We have commanded people to honour their parents. Their mothers bore them in hardship and delivered them in hardship. Their ˹period of˺ bearing and weaning is thirty months. In time, when the child reaches their prime at the age of forty, they pray, “My Lord! Inspire me to ˹always˺ be thankful for Your favours which You blessed me and my parents with, and to do good deeds that please You. And instil righteousness in my offspring. I truly repent to You, and I truly submit ˹to Your Will˺.”</p>
              <p class="verse">Al-Ahqaf verse 15</p>
            </div>
          </div>
       
          

        </div>
          
        <script>
          function on() {
              document.getElementById("overlay").style.display = "block";
            }
            
            function off() {
              document.getElementById("overlay").style.display = "none";
            }
            function toggleBookmark(element, slug) {
              // Check if user is authenticated
              const isAuthenticated = document.body.getAttribute('data-user-authenticated') === 'true';
          
              if (!isAuthenticated) {
                  window.location.href = '/account/signin/'; // Redirect to sign-in page
                  return;
              }
          
              // Proceed with bookmark toggle for authenticated users
              fetch(`/toggle_bookmark/${slug}/`, {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': getCookie('csrftoken'), // Function to get CSRF token
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ 'slug': slug })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.bookmarked) {
                      element.classList.remove('fa-regular');
                      element.classList.add('fa-solid');
                  } else {
                      element.classList.remove('fa-solid');
                      element.classList.add('fa-regular');
                  }
              })
              .catch(error => console.error('Error:', error));
          }
          
          // Function to get CSRF token from cookies
          function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          document.addEventListener("DOMContentLoaded", function() {
              // Assuming the user is authenticated; adjust as needed
              updateUserBookmarkIcons();
          });
          
          function updateUserBookmarkIcons() {
              fetch('/get_user_bookmarks/', { // Adjusted to the correct path
                  method: 'GET',
                  headers: {
                      'Content-Type': 'application/json',
                      // Include CSRF token if needed for GET requests or ensure your view is exempt
                  },
              })
              .then(response => response.json())
              .then(data => {
                  const bookmarkedSlugs = data.bookmarkedSlugs;
                  bookmarkedSlugs.forEach(slug => {
                      const bookmarkIcon = document.querySelector(`i[data-slug="${slug}"]`);
                      if (bookmarkIcon) {
                          bookmarkIcon.classList.remove('fa-regular');
                          bookmarkIcon.classList.add('fa-solid');
                      }
                  });
              })
              .catch(error => console.error('Error:', error));
          }
            </script>
          
          {% endblock content %}