{% extends 'base.html' %}
{% load static %}
  {% block title %}
    <title>Righteous Company</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\duacontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .card-dua{
        justify-content: center;
        height:355px;
        display: flex;
      }
      
      .dua-content-container{ 
          padding: 50px 100px 50px 100px;
          position:relative;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 1%;
        }
        .dua-content-container .card-dua{
          width: 380px;
          background:#f0f0f0;
          margin: 5px 17px;
          padding: 30px 15px;
          display: flex;
          flex-direction: column;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s ease-in-out;
          margin-top: 4%;
          border-radius: 10px;
        }
        .dua-list{
          display: flex;
          flex-direction: column;
        }
      
      /*mobile view*/
      @media screen and (max-width: 768px){
        .dua-content-container{
          flex-direction: column;
          padding: 20px; /* Adjust padding for mobile */
        }
        .card-dua{
          width: 100%; /* Full width for mobile view */
          margin: 10px 0; /* Adjust margin for spacing between cards */
          height: auto;
        }
        .nav-to-right, .nav-line{
        margin-left: 20px;
      }
      .nav-link{
        margin-left: 20px;
        margin-right: 0;
      }
      }
    </style>
{% endblock title %}
{% block content %} 
<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'doa' %}"> Dua' </a><span><i class="fa-solid fa-chevron-right"></i></span> Righteous Company</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this, 'Doa-Righteous-Company')" data-slug="Doa-Righteous-Company"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.created_at|date:"F d, Y H:i"}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>

<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Doa content-->
      <div class="dua-content-container" style="margin-bottom: 50px;">
 
        <div class="card-dua">
        <div class ="dua-list">
          <p class="ayah">رَّبَّنَآ إِنَّنَا سَمِعْنَا مُنَادِيًۭا يُنَادِى لِلْإِيمَـٰنِ أَنْ ءَامِنُوا۟ بِرَبِّكُمْ فَـَٔامَنَّا ۚ رَبَّنَا فَٱغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّـَٔاتِنَا وَتَوَفَّنَا مَعَ ٱلْأَبْرَارِ  ١٩٣
            رَبَّنَا وَءَاتِنَا مَا وَعَدتَّنَا عَلَىٰ رُسُلِكَ وَلَا تُخْزِنَا يَوْمَ ٱلْقِيَـٰمَةِ ۗ إِنَّكَ لَا تُخْلِفُ ٱلْمِيعَادَ ١٩٤
            </p>
          <p class="translation">Our Lord! We have heard the caller to ˹true˺ belief, ˹proclaiming,˺ ‘Believe in your Lord ˹alone˺,’ so we believed. Our Lord! Forgive our sins, absolve us of our misdeeds, and join us with the virtuous when we die. Our Lord! Grant us what You have promised us through Your messengers and do not put us to shame on Judgment Day—for certainly You never fail in Your promise.”</p>
          <p class="verse">Ali-Imran verse 193-194</p>
        </div>
      </div>

      <div class="card-dua">
        <div class ="dua-list">
          <p class="ayah">۞ رَبِّ قَدْ ءَاتَيْتَنِى مِنَ ٱلْمُلْكِ وَعَلَّمْتَنِى مِن تَأْوِيلِ ٱلْأَحَادِيثِ ۚ فَاطِرَ ٱلسَّمَـٰوَٰتِ وَٱلْأَرْضِ أَنتَ وَلِىِّۦ فِى ٱلدُّنْيَا وَٱلْـَٔاخِرَةِ ۖ تَوَفَّنِى مُسْلِمًۭا وَأَلْحِقْنِى بِٱلصَّـٰلِحِينَ ١٠١</p>
          <p class="translation">“My Lord! You have surely granted me authority and taught me the interpretation of dreams. O Originator of the heavens and the earth! You are my Guardian in this world and the Hereafter. Allow me to die as one who submits and join me with the righteous.”</p>
          <p class="verse">Yusuf verse 101</p>
        </div>
      </div>

      <div class="card-dua">
        <div class ="dua-list">
          <p class="ayah">رَبِّ فَلَا تَجْعَلْنِى فِى ٱلْقَوْمِ ٱلظَّـٰلِمِينَ ٩٤</p>
          <p class="translation">then, my Lord, do not count me among the wrongdoing people.”</p>
          <p class="verse">Al-Mu’minun verse 94</p>
        </div>
      </div>

      <div class="card-dua">
        <div class ="dua-list">
          <p class="ayah">رَبِّ هَبْ لِى حُكْمًۭا وَأَلْحِقْنِى بِٱلصَّـٰلِحِينَ ٨٣
            وَٱجْعَل لِّى لِسَانَ صِدْقٍۢ فِى ٱلْـَٔاخِرِينَ ٨٤
            وَٱجْعَلْنِى مِن وَرَثَةِ جَنَّةِ ٱلنَّعِيمِ ٨٥
            </p>
          <p class="translation">“My Lord! Grant me wisdom, and join me with the righteous. Bless me with honourable mention among later generations. Make me one of those awarded the Garden of Bliss.</p>
          <p class="verse">Ash-Shu’ara’ verse 83-85</p>
        </div>
      </div>

    </div>
          
 
<script>
  function on() {
      document.getElementById("overlay").style.display = "block";
    }
    
    function off() {
      document.getElementById("overlay").style.display = "none";
    }
    function toggleBookmark(element, slug) {
      // Check if user is authenticated
      const isAuthenticated = document.body.getAttribute('data-user-authenticated') === 'true';
  
      if (!isAuthenticated) {
          window.location.href = '/account/signin/'; // Redirect to sign-in page
          return;
      }
  
      // Proceed with bookmark toggle for authenticated users
      fetch(`/toggle_bookmark/${slug}/`, {
          method: 'POST',
          headers: {
              'X-CSRFToken': getCookie('csrftoken'), // Function to get CSRF token
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ 'slug': slug })
      })
      .then(response => response.json())
      .then(data => {
          if (data.bookmarked) {
              element.classList.remove('fa-regular');
              element.classList.add('fa-solid');
          } else {
              element.classList.remove('fa-solid');
              element.classList.add('fa-regular');
          }
      })
      .catch(error => console.error('Error:', error));
  }
  
  // Function to get CSRF token from cookies
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  document.addEventListener("DOMContentLoaded", function() {
      // Assuming the user is authenticated; adjust as needed
      updateUserBookmarkIcons();
  });
  
  function updateUserBookmarkIcons() {
      fetch('/get_user_bookmarks/', { // Adjusted to the correct path
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
              // Include CSRF token if needed for GET requests or ensure your view is exempt
          },
      })
      .then(response => response.json())
      .then(data => {
          const bookmarkedSlugs = data.bookmarkedSlugs;
          bookmarkedSlugs.forEach(slug => {
              const bookmarkIcon = document.querySelector(`i[data-slug="${slug}"]`);
              if (bookmarkIcon) {
                  bookmarkIcon.classList.remove('fa-regular');
                  bookmarkIcon.classList.add('fa-solid');
              }
          });
      })
      .catch(error => console.error('Error:', error));
  }
    </script>
  
  {% endblock content %}