
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Healing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="shortcut icon" href="{% static 'assets\logo\icon3.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\duacontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .card-dua{
        justify-content: center;
        height:352px;
        display: flex;
      }
    </style>
</head>

<body>
 <!--Navigation Bar-->
 <nav>
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'assets\logo\logo.svg' %}" alt="logo" width="300" ></a>
    </div>
    <div class="toggle">
        <a href ="#"><ion-icon name="menu-outline"></ion-icon></a>
    </div>
      <ul class="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'story' %}">Stories In Quran</a></li>
        <li><a href="{% url 'science' %}">Sciences In Quran</a></li>
        <li><a href="{% url 'doa' %}">Dua'</a></li>
        <li><a href="{% url 'faq' %}">Ask a Question</a></li>
        <li><a href="{% url 'quiz' %}">Quiz</a></li>
        {% if user.is_authenticated %}
        <li class="auth-icon"><a href="{% url 'logout' %}"><ion-icon name="log-out-outline"></ion-icon></a></li>
        {% else %}
        <li class="auth-icon"><a href="{% url 'signup' %}"><ion-icon name="person-outline"></ion-icon></a></li>
        <!--<li class="auth-icon"><a href="{% url 'signin' %}"><ion-icon name="person-circle-outline"></ion-icon></a></li>-->
        {% endif %}
      </ul>
    </nav>


 <!--menu script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(function(){
        $(".toggle").on("click", function(){
            if($(".menu").hasClass("active")){
                $(".menu").removeClass("active");
                $(this).find("a").html("<ion-icon name='menu-outline'></ion-icon>");
            }else{
                $(".menu").addClass("active");
                $(this).find("a").html("<ion-icon name='close-outline'></ion-icon>");
            }
        })
    })
  </script>
<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'doa' %}"> Dua' </a><span><i class="fa-solid fa-chevron-right"></i></span> Healing</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this, 'a4-doa4-healing')"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.created_at|date:"F d, Y H:i"}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>

  <script>
      function on() {
        document.getElementById("overlay").style.display = "block";
      }
      
      function off() {
        document.getElementById("overlay").style.display = "none";
      }
      </script>

<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Doa content-->
      <div class="dua-content-container" style="margin-bottom: 50px;">
            
            <div class="card-dua">
              <div class ="dua-list">
                <p class="ayah">١ ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَـٰلَمِينَ ٢ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ ٣ مَـٰلِكِ يَوْمِ ٱلدِّينِ ٤ إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ ٥ ٱهْدِنَا ٱلصِّرَٰطَ ٱلْمُسْتَقِيمَ ٦ صِرَٰطَ ٱلَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّآلِّينَ ٧</p>
                <p class="translation">1. In the name of Allah, the Entirely Merciful, the Especially Merciful.
                  2. Praise be to Allah, the Lord of all the worlds.
                  3. The Entirely Merciful, the Especially Merciful,
                  4. Sovereign of the Day of Recompense.
                  5. It is You we worship and You we ask for help.
                  6. Guide us to the straight path -
                  7. The path of those upon whom You have bestowed favor, not of those who have evoked [Your] anger or of those who are astray.</p>
                <p class="verse">Al-Fatihah verse 1-7</p>
              </div>
            </div>

            <div class="card-dua">
              <div class ="dua-list">
                <p class="ayah">فَسَقَىٰ لَهُمَا ثُمَّ تَوَلَّىٰٓ إِلَى ٱلظِّلِّ فَقَالَ رَبِّ إِنِّى لِمَآ أَنزَلْتَ إِلَىَّ مِنْ خَيْرٍۢ فَقِيرٌۭ ٢٤</p>
                <p class="translation">So he watered ˹their herd˺ for them, then withdrew to the shade and prayed, “My Lord! I am truly in ˹desperate˺ need of whatever provision You may have in store for me.”</p>
                <p class="verse">Al-Qasas verse 24</p>
              </div>
            </div>
       
            <div class="card-dua">
              <div class ="dua-list">
                <p class="ayah">قُلْ أَعُوذُ بِرَبِّ ٱلْفَلَقِ١ مِن شَرِّ مَا خَلَقَ ٢ وَمِن شَرِّ غَاسِقٍ إِذَا وَقَبَ ٣ وَمِن شَرِّ ٱلنَّفَّـٰثَـٰتِ فِى ٱلْعُقَدِ ٤ وَمِن شَرِّ حَاسِدٍ إِذَا حَسَدَ ٥</p>
                <p class="translation">Say, ˹O Prophet,˺ “I seek refuge in the Lord of the daybreak from the evil of whatever He has created, and from the evil of the night when it grows dark, and from the evil of those ˹witches casting spells by˺ blowing onto knots, and from the evil of an envier when they envy.”</p>
                <p class="verse">Al-Falaq verse 1-5</p>
              </div>
            </div>

            <div class="card-dua">
              <div class ="dua-list">
                <p class="ayah">قُلْ أَعُوذُ بِرَبِّ ٱلنَّاسِ١ مَلِكِ ٱلنَّاسِ ٢ إِلَـٰهِ ٱلنَّاسِ ٣ مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ ٤ ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ ٥ مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ ٦</p>
                <p class="translation">Say, ˹O Prophet,˺ “I seek refuge in the Lord of humankind, the Master of humankind, the God of humankind, from the evil of the lurking whisperer—who whispers into the hearts of humankind— from among jinn and humankind.”</p>
                <p class="verse">An-Nas verse 1-6</p>
              </div>
            </div>
        </div>
          
 <!--scroll to top button-->
 <a href="#" class="scrollToTop">
  <ion-icon name="chevron-up-circle-outline"></ion-icon></a>
  <script src="{% static 'js\scroll.js' %}"></script>
        <!--Footer Section-->
<footer>
  <div class="footer-container">
    <div class="footer-content">
      <h4>Contact Us</h4>
      <p>Email: <a href="mailto:athirahzaaba00gmail.com" style="text-decoration: none; color:#fff; font-size: 13px;">athirahzaaba00gmail.com</a></p>
      <p>International Islamic University of Malaysia <br>Jalan Gombak, <br>53100 Kuala Lumpur, <br>Selangor</p>
    </div>
    <div class="footer-content">
      <h4>Quick Links</h4>
        <ul class="list">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'story' %}">Stories In Quran</a></li>
          <li><a href="{% url 'science' %}">Sciences In Quran</a></li>
          <li><a href="{% url 'doa' %}">Dua'</a></li>
          <li><a href="{% url 'quiz' %}">Quiz</a></li>
        </ul>
    </div>
    <div class="footer-content">
      <h4>Follow Us</h4>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/nurathirah.zaaba/"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li><a href="https://www.instagram.com/ch0cbby/"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li><a href="https://www.linkedin.com/in/nur-athirah-a6b69b238/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 QuranWisdom | Designed by Athirah Zaaba</p>
</footer> 

<script>
 
  function toggleBookmark(element, slug) {
    fetch(`/toggle_bookmark/${slug}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'), // Function to get CSRF token
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 'slug': slug })
    })
    .then(response => response.json())
    .then(data => {
        if (data.bookmarked) {
            element.classList.remove('fa-regular');
            element.classList.add('fa-solid');
        } else {
            element.classList.remove('fa-solid');
            element.classList.add('fa-regular');
        }
    })
    .catch(error => console.error('Error:', error));
}

// Function to get CSRF token from cookies
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  </script>

</body>