{% extends 'base.html' %}
{% load static %}
  {% block title %}
    <title>Devotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="shortcut icon" href="{% static 'assets\logo\icon3.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\duacontent.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .card-dua{
        justify-content: center;
        height: 490px;
        display: flex;
      }
      .dua-content-container{ 
          padding: 50px 100px 50px 100px;
          position:relative;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 1%;
        }
        .dua-content-container .card-dua{
          width: 380px;
          background:#f0f0f0;
          margin: 5px 17px;
          padding: 30px 15px;
          display: flex;
          flex-direction: column;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s ease-in-out;
          margin-top: 4%;
          border-radius: 10px;
        }
        .dua-list{
          display: flex;
          flex-direction: column;
        }
      /*mobile view*/
      @media screen and (max-width: 768px){
        .dua-content-container{
          flex-direction: column;
          padding: 20px; /* Adjust padding for mobile */
        }
        .card-dua{
          width: 100%; /* Full width for mobile view */
          margin: 10px 0; /* Adjust margin for spacing between cards */
          height: auto;
        }
        .nav-to-right, .nav-line{
        margin-left: 20px;
      }
      .nav-link{
        margin-left: 20px;
        margin-right: 0;
      }
      }
    </style>
{% endblock title %}
{% block content %}  
<!--nav link-->
<div class="nav-link">
  <div class="nav-link-content">
    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> <a href="{% url 'doa' %}"> Dua' </a><span><i class="fa-solid fa-chevron-right"></i></span> Devotion</p>
  </div> 
</div>
<hr class ="nav-line">
<br>
<!--bookmark and comment-->
<div class="nav-to-right">
  <div class="nav-to-right-content">
    <p><i class="fa-regular fa-bookmark fa-2x" onclick="toggleBookmark(this, 'Doa-Devotion')" data-slug="Doa-Devotion"></i></p>
    <button onclick="on()">See Discussion <i class="fa-regular fa-comment"></i></button>
  </div>
</div>

<!--Forum Section-->
<div class="overlay" id="overlay">
  <div class="container">
      <div class="close">
          <div class="close-button">
              <i class="fas fa-times" onclick="off()"></i>
          </div>         
          <div class="subforum">

          <!--Subforum search
          <form action="" role="form" method="GET">
              <div class="search-box">
                  <div>
                      <select name="search-box" id="">
                      <option value="Everything">Everything</option>
                      <option value="Titles">Titles</option>
                      <option value="Descriptions">Descriptions</option>
                      </select>
                      <input type="text" name="q" placeholder="Search">
                      <button type="submit" name="search"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>-->

          {% if user.is_authenticated %}
            <div class ="create-post">
              <button style="color:#38444d"><a href="{% url 'create_post' %}">Create Post</a></button>
            </div>
          {% endif %}

          <div class="subforum-title">
              <h1>Forum</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
              <!--<div class="subforum-icon subforum-column center">
                  <i class="fas fa-user"></i>
              </div>-->
              <div class="subforum-description subforum-column">
                  <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                  <p>{{forum.description}}</p>
              </div>
              <div class="subforum-stats subforum-column center">
                  <span>{{forum.num_posts}} Posts</span>
              </div>
              <div class="subforum-info subforum-column">
                  <b><a href="{{forum.last_post.get_url}}">Last Post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                  <br>
                  on <small>{{forum.last_post.created_at|date:"F d, Y H:i"}}</small>
              </div>
          </div>
          {% endfor %}

      </div>

  </div>

   <!-- Forum Info -->
<div class="forum-info">
  <div class="chart">
      Forum Statistic &nbsp;<i class="fa fa-bar-chart"></i>
  </div>
  <span><u>{{num_posts}}</u> Posts in <u>{{num_categories}}</u> Categories by <u>{{num_users}}</u> Members.</span><br>
  {% if forums %}
      <span>Latest post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} By <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
      <span>Check <a href="{% url 'latest_posts' %}">the latest posts</a> .</span><br>
  {% endif %}
</div>

  <script>
      function on() {
        document.getElementById("overlay").style.display = "block";
      }
      
      function off() {
        document.getElementById("overlay").style.display = "none";
      }
      </script>

<script src="{% static 'js/trialforum.js' %}"></script>           

</div>
</div>
<!--ends forum-->

      <!--Doa content-->
      <div class="dua-content-container" style="margin-bottom: 50px;">
 
        <div class="card-dua">
          <div class ="dua-list">
            <p class="ayah">وَإِذْ يَرْفَعُ إِبْرَٰهِـۧمُ ٱلْقَوَاعِدَ مِنَ ٱلْبَيْتِ وَإِسْمَـٰعِيلُ رَبَّنَا تَقَبَّلْ مِنَّآ ۖ إِنَّكَ أَنتَ ٱلسَّمِيعُ ٱلْعَلِيمُ ١٢٧</p>
            <p class="translation">And ˹remember˺ when Abraham raised the foundation of the House with Ishmael, ˹both praying,˺ “Our Lord! Accept ˹this˺ from us. You are indeed the All-Hearing, All-Knowing.</p>
            <p class="verse">Al-Baqarah verse 127</p>
          </div>
        </div>

        <div class="card-dua">
        <div class ="dua-list">
            <p class="ayah">رَبَّنَا وَٱجْعَلْنَا مُسْلِمَيْنِ لَكَ وَمِن ذُرِّيَّتِنَآ أُمَّةًۭ مُّسْلِمَةًۭ لَّكَ وَأَرِنَا مَنَاسِكَنَا وَتُبْ عَلَيْنَآ ۖ إِنَّكَ أَنتَ ٱلتَّوَّابُ ٱلرَّحِيمُ ١٢٨</p>
            <p class="translation">Our Lord! Make us both ˹fully˺ submit to You and from our descendants a nation that will submit to You. Show us our rituals, and turn to us in grace. You are truly the Accepter of Repentance, Most Merciful.</p>
            <p class="verse">Al-Baqarah verse 128</p>
          </div>
        </div>

        <div class="card-dua">
          <div class ="dua-list">
            <p class="ayah">ٱللَّهُ لَآ إِلَـٰهَ إِلَّا هُوَ ٱلْحَىُّ ٱلْقَيُّومُ ۚ لَا تَأْخُذُهُۥ سِنَةٌۭ وَلَا نَوْمٌۭ ۚ لَّهُۥ مَا فِى ٱلسَّمَـٰوَٰتِ وَمَا فِى ٱلْأَرْضِ ۗ مَن ذَا ٱلَّذِى يَشْفَعُ عِندَهُۥٓ إِلَّا بِإِذْنِهِۦ ۚ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ ۖ وَلَا يُحِيطُونَ بِشَىْءٍۢ مِّنْ عِلْمِهِۦٓ إِلَّا بِمَا شَآءَ ۚ وَسِعَ كُرْسِيُّهُ ٱلسَّمَـٰوَٰتِ وَٱلْأَرْضَ ۖ وَلَا يَـُٔودُهُۥ حِفْظُهُمَا ۚ وَهُوَ ٱلْعَلِىُّ ٱلْعَظِيمُ ٢٥٥</p>
            <p class="translation">Allah! There is no god ˹worthy of worship˺ except Him, the Ever-Living, All-Sustaining. Neither drowsiness nor sleep overtakes Him. To Him belongs whatever is in the heavens and whatever is on the earth. Who could possibly intercede with Him without His permission? He ˹fully˺ knows what is ahead of them and what is behind them, but no one can grasp any of His knowledge—except what He wills ˹to reveal˺. His Seat1 encompasses the heavens and the earth, and the preservation of both does not tire Him. For He is the Most High, the Greatest.</p>
            <p class="verse">Al-Baqarah verse 255</p>
          </div>
        </div>

        <div class="card-dua">
          <div class ="dua-list">
            <p class="ayah">رَبَّنَآ ءَامَنَّا بِمَآ أَنزَلْتَ وَٱتَّبَعْنَا ٱلرَّسُولَ فَٱكْتُبْنَا مَعَ ٱلشَّـٰهِدِينَ ٥٣</p>
            <p class="translation">˹They prayed to Allah,˺ “Our Lord! We believe in Your revelations and follow the messenger, so count us among those who bear witness.”</p>
            <p class="verse">Ali-Imran verse 53</p>
          </div>
        </div>

        <div class="card-dua">
          <div class ="dua-list">
            <p class="ayah">ٱلَّذِينَ قَالَ لَهُمُ ٱلنَّاسُ إِنَّ ٱلنَّاسَ قَدْ جَمَعُوا۟ لَكُمْ فَٱخْشَوْهُمْ فَزَادَهُمْ إِيمَـٰنًۭا وَقَالُوا۟ حَسْبُنَا ٱللَّهُ وَنِعْمَ ٱلْوَكِيلُ ١٧٣</p>
            <p class="translation">Those who were warned, “Your enemies have mobilized their forces against you, so fear them,” the warning only made them grow stronger in faith and they replied, “Allah ˹alone˺ is sufficient ˹as an aid˺ for us and ˹He˺ is the best Protector.”</p>
            <p class="verse">Ali-Imran verse 173</p>
          </div>
        </div>

        <div class="card-dua">
          <div class ="dua-list">
            <p class="ayah">قُلْ إِنَّ صَلَاتِى وَنُسُكِى وَمَحْيَاىَ وَمَمَاتِى لِلَّهِ رَبِّ ٱلْعَـٰلَمِينَ ١٦٢لَا شَرِيكَ لَهُۥ ۖ وَبِذَٰلِكَ أُمِرْتُ وَأَنَا۠ أَوَّلُ ٱلْمُسْلِمِينَ ١٦٣</p>
            <p class="translation">Say, “Surely my prayer, my sacrifice, my life, and my death are all for Allah—Lord of all worlds. He has no partner. So I am commanded, and so I am the first to submit.”</p>
            <p class="verse">Al-An’am verse 162-163</p>
          </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">فَإِن تَوَلَّوْا۟ فَقُلْ حَسْبِىَ ٱللَّهُ لَآ إِلَـٰهَ إِلَّا هُوَ ۖ عَلَيْهِ تَوَكَّلْتُ ۖ وَهُوَ رَبُّ ٱلْعَرْشِ ٱلْعَظِيمِ ١٢٩</p>
              <p class="translation">But if they turn away, then say, ˹O Prophet,˺ “Allah is sufficient for me. There is no god ˹worthy of worship˺ except Him. In Him I put my trust. And He is the Lord of the Mighty Throne.”</p>
              <p class="verse">At-Taubah verse 129</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">۞ رَبِّ قَدْ ءَاتَيْتَنِى مِنَ ٱلْمُلْكِ وَعَلَّمْتَنِى مِن تَأْوِيلِ ٱلْأَحَادِيثِ ۚ فَاطِرَ ٱلسَّمَـٰوَٰتِ وَٱلْأَرْضِ أَنتَ وَلِىِّۦ فِى ٱلدُّنْيَا وَٱلْـَٔاخِرَةِ ۖ تَوَفَّنِى مُسْلِمًۭا وَأَلْحِقْنِى بِٱلصَّـٰلِحِينَ ١٠١</p>
              <p class="translation">“My Lord! You have surely granted me authority and taught me the interpretation of dreams. ˹O˺ Originator of the heavens and the earth! You are my Guardian in this world and the Hereafter. Allow me to die as one who submits and join me with the righteous.”</p>
              <p class="verse">Yusuf verse 101</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">لِتَسْتَوُۥا۟ عَلَىٰ ظُهُورِهِۦ ثُمَّ تَذْكُرُوا۟ نِعْمَةَ رَبِّكُمْ إِذَا ٱسْتَوَيْتُمْ عَلَيْهِ وَتَقُولُوا۟ سُبْحَـٰنَ ٱلَّذِى سَخَّرَ لَنَا هَـٰذَا وَمَا كُنَّا لَهُۥ مُقْرِنِينَ ١٣وَإِنَّآ إِلَىٰ رَبِّنَا لَمُنقَلِبُونَ ١٤</p>
              <p class="translation">so that you may sit firmly on their backs, and remember your Lord’s blessings once you are settled on them, saying, “Glory be to the One Who has subjected these for us, for we could have never done so ˹on our own˺. And surely to our Lord we will ˹all˺ return.”</p>
              <p class="verse">Az-Zukhruf verse 13-14</p>
            </div>
          </div>

          <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">وَوَصَّيْنَا ٱلْإِنسَـٰنَ بِوَٰلِدَيْهِ إِحْسَـٰنًا ۖ حَمَلَتْهُ أُمُّهُۥ كُرْهًۭا وَوَضَعَتْهُ كُرْهًۭا ۖ وَحَمْلُهُۥ وَفِصَـٰلُهُۥ ثَلَـٰثُونَ شَهْرًا ۚ حَتَّىٰٓ إِذَا بَلَغَ أَشُدَّهُۥ وَبَلَغَ أَرْبَعِينَ سَنَةًۭ قَالَ رَبِّ أَوْزِعْنِىٓ أَنْ أَشْكُرَ نِعْمَتَكَ ٱلَّتِىٓ أَنْعَمْتَ عَلَىَّ وَعَلَىٰ وَٰلِدَىَّ وَأَنْ أَعْمَلَ صَـٰلِحًۭا تَرْضَىٰهُ وَأَصْلِحْ لِى فِى ذُرِّيَّتِىٓ ۖ إِنِّى تُبْتُ إِلَيْكَ وَإِنِّى مِنَ ٱلْمُسْلِمِينَ ١٥</p>
              <p class="translation">We have commanded people to honour their parents. Their mothers bore them in hardship and delivered them in hardship. Their ˹period of˺ bearing and weaning is thirty months. In time, when the child reaches their prime at the age of forty, they pray, “My Lord! Inspire me to ˹always˺ be thankful for Your favours which You blessed me and my parents with, and to do good deeds that please You. And instil righteousness in my offspring. I truly repent to You, and I truly submit ˹to Your Will˺.”</p>
              <p class="verse">Al-Ahqaf verse 15</p>
            </div>
          </div>

            <div class="card-dua">
            <div class ="dua-list">
              <p class="ayah">قَدْ كَانَتْ لَكُمْ أُسْوَةٌ حَسَنَةٌۭ فِىٓ إِبْرَٰهِيمَ وَٱلَّذِينَ مَعَهُۥٓ إِذْ قَالُوا۟ لِقَوْمِهِمْ إِنَّا بُرَءَٰٓؤُا۟ مِنكُمْ وَمِمَّا تَعْبُدُونَ مِن دُونِ ٱللَّهِ كَفَرْنَا بِكُمْ وَبَدَا بَيْنَنَا وَبَيْنَكُمُ ٱلْعَدَٰوَةُ وَٱلْبَغْضَآءُ أَبَدًا حَتَّىٰ تُؤْمِنُوا۟ بِٱللَّهِ وَحْدَهُۥٓ إِلَّا قَوْلَ إِبْرَٰهِيمَ لِأَبِيهِ لَأَسْتَغْفِرَنَّ لَكَ وَمَآ أَمْلِكُ لَكَ مِنَ ٱللَّهِ مِن شَىْءٍۢ ۖ رَّبَّنَا عَلَيْكَ تَوَكَّلْنَا وَإِلَيْكَ أَنَبْنَا وَإِلَيْكَ ٱلْمَصِيرُ ٤</p>
              <p class="translation">You already have an excellent example in Abraham and those with him, when they said to their people, “We totally dissociate ourselves from you and ˹shun˺ whatever ˹idols˺ you worship besides Allah. We reject you. The enmity and hatred that has arisen between us and you will last until you believe in Allah alone.” The only exception is when Abraham said to his father, “I will seek forgiveness for you,˹” adding, “but˺ I cannot protect you from Allah at all.” ˹The believers prayed,˺ “Our Lord! In You we trust. And to You we ˹always˺ turn. And to You is the final return.</p>
              <p class="verse">Al-Mumtahanah verse 4</p>
            </div>
            </div>

        </div>
          
<script>
  function on() {
    document.getElementById("overlay").style.display = "block";
  }
  
  function off() {
    document.getElementById("overlay").style.display = "none";
  }
  function toggleBookmark(element, slug) {
    // Check if user is authenticated
    const isAuthenticated = document.body.getAttribute('data-user-authenticated') === 'true';

    if (!isAuthenticated) {
        window.location.href = '/account/signin/'; // Redirect to sign-in page
        return;
    }

    // Proceed with bookmark toggle for authenticated users
    fetch(`/toggle_bookmark/${slug}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'), // Function to get CSRF token
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 'slug': slug })
    })
    .then(response => response.json())
    .then(data => {
        if (data.bookmarked) {
            element.classList.remove('fa-regular');
            element.classList.add('fa-solid');
        } else {
            element.classList.remove('fa-solid');
            element.classList.add('fa-regular');
        }
    })
    .catch(error => console.error('Error:', error));
}

// Function to get CSRF token from cookies
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
document.addEventListener("DOMContentLoaded", function() {
    // Assuming the user is authenticated; adjust as needed
    updateUserBookmarkIcons();
});

function updateUserBookmarkIcons() {
    fetch('/get_user_bookmarks/', { // Adjusted to the correct path
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            // Include CSRF token if needed for GET requests or ensure your view is exempt
        },
    })
    .then(response => response.json())
    .then(data => {
        const bookmarkedSlugs = data.bookmarkedSlugs;
        bookmarkedSlugs.forEach(slug => {
            const bookmarkIcon = document.querySelector(`i[data-slug="${slug}"]`);
            if (bookmarkIcon) {
                bookmarkIcon.classList.remove('fa-regular');
                bookmarkIcon.classList.add('fa-solid');
            }
        });
    })
    .catch(error => console.error('Error:', error));
}
</script>

{% endblock content %}