{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
    <title>Detail Forum</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css\forum.css' %}">-->
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <style>
        html .container-detail{
            font-size: 14px;
        }
        .container-detail{
            
            margin: 100px 50px 100px 50px;
        }
        .head-topic{
            display: flex;
            padding: 5px;
            background-color: #c6cacd;
            font-weight: bold;
            font-size: 15px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
        .authors{
            flex: 20%;
        }
        .content{
            flex: 80%; 
        }
        .body-topic{
            display: flex;
            padding: 10px;
            margin-top: 5px;
            background-color: rgb(234, 237, 240);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
        .comment-input textarea{
            width: 100%;
            min-height: 100px;
            padding: 10px;
            margin-block: 10px;
            font-family: 'Poppins', sans-serif;
        }
        .comment-input input{
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
        }
        .comment-input input:hover{
            background-color: #38444d;
            color: white;
        }
        .reply-text-area input:hover{
            background-color: #38444d;
            color: white;
        }
        /* Inline Action Links Styling */
        .inline-action-links {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 10px;
            font-size: 14px;
            color: #6c757d; /* Pale color for the action links */
        }

        .inline-action-link {
            cursor: pointer;
            transition: color 0.3s ease;
            color: #6c757d;
        }

        .inline-action-link:hover {
            color: #007bff; /* Brighter color on hover */
        }

        /* Separator Style */
        .separator {
            color: #6c757d; /* Same pale color as links */
        }
                /* Action Links Styling */
        .action-links {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 10px; 
            cursor: pointer;
        }

        .action-link{
            cursor: pointer;
            transition: color 0.3s ease;
            display: inline-block;
        }
        .edit-action, .reply-action {
            background-color: #28a745;
        }

        .edit-action:hover, .reply-action:hover {
            background-color: #218838;
        }
        .hide {
            display: none;
                } 
        .delete{
            cursor: pointer;
            font-weight: 300;
            font-size: small;
        }
        .like-btn, .content.like-btn{
            color: #6c757d;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            text-decoration: none;  
            border: none;
            background: transparent;
        }

        .like-btn.liked {
            background-color: #28a745; /* Green to indicate liked state */
        }

        .like-btn.liked:hover {
            background-color: #218838; /* Darker green on hover */
        }
        .date-posted {
            font-size: 12px;
            color: #6c757d;
            margin-top: 10px;

        }

        /* Inline Action Links Styling */
        .inline-action-links {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 10px;
            font-size: 14px;
            color: #6c757d; /* Pale color for the action links */
        }

        .inline-action-links button[type="submit"]
            {
                cursor: pointer; 
                font-family: 'Poppins', sans-serif; 
                font-size: 14px; 
                text-decoration: none;  
                border: none; 
                background: transparent;
                display: inline;
                }
                .nav-link{
                color: #38444d;
                font-size: 17px;
                margin-bottom: 20px;
                display: flex;
            } 
            .nav-link i{
                font-size: 20px;
            }
            .nav-link a{
                color: #38444d;
                text-decoration: none;
                cursor: pointer;
            }
            .nav-link a:hover{
                text-shadow: 2px 2px 8px #555;
            }
            .nav-link p{
                display: inline-block;
            } 
            @media screen and (max-width: 768px){
                .nav-link{
                margin-right: 0;
                }
            
            }
        
        </style>
 {% endblock title %}

 {% block content %}
    <!--Forum Section-->
    <div class="container-detail">
        <!--navigation in forum-->
        <span>
            <div class="nav-link">
                <div class="nav-link-content">
                  <a href="{% url 'faq' %}"><!--<i class="fa-solid fa-house"></i>-->Forum</a>
                  <i class="fa-solid fa-chevron-right"></i>
                  <a href="{{ post.Categories.all.0.get_url }}"> {{ post.Categories.all.0 }} </a>
                  <i class="fa-solid fa-chevron-right"></i>
                  <a href="{{ post.get_url }}">{{ post.title }}</a>
                </div> 
              </div>
        </span>
    
        
        <!--Topic Section-->
        <div class="topic-container">
            <div class="head-topic">
                <div class="authors">Author</div>
                <div class="content">Topic: {{post.title}} (Read {% get_hit_count for post %} Times)</div>
            </div>

            <div class="body-topic">
                <div class="authors">
                    <div class="username" style="padding-right: 7px;"><a href="">{{post.user.fullname|title}}</a></div>
                        <!--<div>Role</div>
                        <img src="{{post.user.profile_pic.url}}" >
                        <div>Posts: <u>{{post.user.num_posts}}</u></div>
                        <div>Points: <u>{{post.user.points}}</u></div>-->
                </div>
                <div class="content">
                    {{post.content|safe}}
                    <div class="date-posted">Posted on: {{ post.created_at|date:"F d, Y H:i" }}</div>
                        <div class="inline-action-links">      
                            <div class="comment">
                                {% if user.is_authenticated %}
                                    <p class="action-link comment-action" onclick="toggleVisibility('comment-area')"> Comment </p>
                                
                                
                                    {% if user.is_authenticated and post.user.user == user %}
                                        <span style="margin: 0 6px" class="separator">|</span> 
                                        <span ><a href="{% url 'edit_post' post_id=post.id %}" class="inline-action-link"> Edit </a></span>
                                        <span style="margin: 0 6px" class="separator">|</span>
                                        <span style="margin: 0 6px 0 0" class="inline-action-link delete-action" data-url="{% url 'post-delete' post_id=post.id %}" onclick="confirmDelete(this)"> Delete </span>
                                        
                                    
                                    {% endif %}
                                    <span style="margin: 0 6px 0 0" class="separator">|</span>
                                    
                                    <form action="{% url 'like_post' post_id=post.id %}" method="post" style="display: inline;" class="inline-action-link">
                                        {% csrf_token %}
                                        <button type="submit" class="like-btn {% if post.is_liked_by_user %}liked{% endif %}"  value="{{ post.id }}" name="post_id" id="likeButton-{{ post.id }}" style="color: #6c757d;
                                        cursor: pointer;
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 14px;
                                        text-decoration: none;  
                                        border: none;
                                        background: transparent;">Like </button>
                                    </form>
                                    - Likes: {{ post.total_likes }}
                                {% endif %}
                            
                            </div>
                            
                        </div>
                    <!--Comment area-->
                    {% if user.is_authenticated %}
                    <form action="." method="post" class="hide" id="comment-area">
                        {% csrf_token %}
                        <div class="comment-input" id="comment-area">
                            <textarea name="comment" placeholder="Write your comment"
                            style="width: 100%; min-height: 100px; padding: 10px; margin-block: 10px; font-family: 'Poppins', sans-serif;">
                            </textarea>
                            <input type="submit" name="comment-form" value="Post Comment">
                        </div> 
                    </form>
                    
                    {% else %}
                    <div class="inline-action-links">  
                    <p onclick="promptLogin()" style="cursor: pointer;">Comment</p>
                    <span class="separator">|</span>
                    Likes: {{ post.total_likes }}
                    </div>
                    {% endif %}
                </div> 
            </div> 
         
    
        
    <!--Comments section-->
    {% for comment in post.comments.all %}
    <div class="reply-container" style="margin-left: 1%;">
        <div class="body-topic">
            <div class="authors">
                <div class="username"><a href="#">{{ comment.user.fullname|title }}</a></div>
            </div>
            


            <div class="content" id="comment-content-{{ comment.id }}">
                <!-- Add "Replying to" information here -->
                <div class="replying-to" style="font-size: 12px; color: #6c757d;">
                    <p>Replying to <strong>{{ post.user.fullname|title }}</strong>:</p><br>
                </div>
                {{ comment.content }}
                <br>
                <div class="date-posted"> Posted on: {{ comment.created_at|date:"F d, Y H:i" }}</div> 
                <div class="inline-action-links">
                    {% if user.is_authenticated %}
                    <div class="comment">
                        <p onclick="toggleVisibility('comment{{ comment.id }}')" style="cursor: pointer;">Reply</p>
                    </div>
                    <span class="separator">|</span>
                        {% if user.is_authenticated and comment.user.user == user %}
                        <!-- Inline actions for edit, delete, and like -->
                        <a href="{% url 'edit_comment' comment_id=comment.id %}" class="inline-action-link">Edit</a>
                        <span class="separator">|</span>
                        <span class="inline-action-link delete-action" data-url="{% url 'comment-delete' comment_id=comment.id %}" onclick="confirmDelete(this)">Delete</span>
                        <span class="separator">|</span>
                        
                        {% endif %}
                        <form action="{% url 'like_comment' comment_id=comment.id %}" method="post" class="inline-action-link">
                            {% csrf_token %}
                            <button type="submit" id="likeButton" class="like-btn">Like</button>
                        </form>
                        - Likes: {{ comment.likes.count }}
                
                </div>  
                <form action="." method="post" class="hide" id="comment{{ comment.id }}">
                    {% csrf_token %}
                        <textarea class="reply-text-area" placeholder="Reply here" name="reply" 
                            style="width: 100%; min-height: 100px; padding: 10px; margin-block: 10px; font-family: 'Poppins', sans-serif;">
                        </textarea>
                        <input class ="reply-text-area" type="submit" name="reply-form" value="Post Reply"
                            style="padding: 10px; border-radius: 10px; cursor: pointer; font-family: 'Poppins', sans-serif;">
                        <input type="hidden" name="comment-id" value="{{ comment.id }}">
                    </form>
                    {% else %}
                    <div class="inline-action-links">
                        <p onclick="promptLogin()" style="cursor: pointer;">Reply</p>
                        <span class="separator">|</span>
                        Likes: {{ comment.likes.count }}
                    </div>  
                    {% endif %}
            </div>
        </div>

    </div>
        <!--Reply section-->
        {% for reply in comment.replies.all %}
        <div class="reply-container" style="margin-left: 2%; ">
            <div class="body-topic">
                <div class="authors">
                    <div class="username"><a href="">{{ reply.user.fullname|title }}</a></div>
                </div>
                <div class="content">
                    <!-- Add "Replying to" information here -->
                    <div class="replying-to" style="font-size: 12px; color: #6c757d;">
                        <p>Replying to <strong>{{ comment.user.fullname|title }}</strong>:</p><br>
                    </div>
                    {{ reply.content }}
                    <br>
                    <div class="date-posted">Posted on: {{ reply.created_at|date:"F d, Y H:i" }}</div>
                        <div class="inline-action-links">
                            {% if user.is_authenticated %}
                                {% if user.is_authenticated and reply.user.user == user %}
                                <a href="{% url 'edit_reply' reply_id=reply.id %}" class="inline-action-link">Edit</a>
                                <span class="separator">|</span>
                                <div class="inline-action-link" data-url="{% url 'reply-delete' reply_id=reply.id %}" onclick="confirmDelete(this)">Delete</div>
                                <span class="separator">|</span>
                                {% endif %}
                            
                                <form action="{% url 'like_reply' reply_id=reply.id %}" method="post" class="inline-action-link">
                                    {% csrf_token %}
                                    <button type="submit" id="likeButton" class="like-btn" value="{{ reply.id }}" name="reply_id">Like</button>
                                
                                </form>
                                - Likes: {{ reply.likes.count }} 
                            {% else %}
                            Likes: {{ reply.likes.count }} 
                            {% endif %}
                        </div>
                    </div> 
                </div>
        {% endfor %}   
    </div>
    {% endfor %}
</div>   
</div>
      
</div>

        <script>
            function toggleVisibility(elementId) {
                var element = document.getElementById(elementId);
                if (element.classList.contains('hide')) {
                    element.classList.remove('hide');
                } else {
                    element.classList.add('hide');
                }
            }
            function promptLogin() {
                alert("Please log in to comment or reply.");
            }
            function goToLastVisitedPage() {
                const lastPage = sessionStorage.getItem('lastVisitedPage');
                if (lastPage) {
                    window.location.href = lastPage;
                } else {
                    window.location.href = "{% url 'home' %}"; // Fallback to home if no last page stored
                }
            }
            function confirmDelete(element) {
                var deleteUrl = element.getAttribute('data-url');
                if(confirm('Are you sure you want to delete?')) {
                    window.location.href = deleteUrl;
                }
            }
            function toggleEditComment(button) {
                var commentId = button.getAttribute('data-comment-id');
                var contentDiv = document.getElementById('comment-content-' + commentId);
                var editDiv = document.getElementById('comment-edit-' + commentId); // Ensure this ID matches your HTML structure

                if (contentDiv && editDiv) {
                    contentDiv.classList.toggle('hide');
                    editDiv.classList.toggle('hide');
                } else {
                    console.error('Elements not found for comment ID:', commentId);
                }
            }
            
           
        </script>   
</div>
{% endblock content %}