{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
    <title>Post Forum</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    {% endblock title %}

    {% block content %}   
    <!--Forum Section-->
        <div class="container-latest-post">
            <!--navigation-->
            <div class="forum-navigate">
                <span>Latest 10 Posts</span>
            </div>
                <div class="posts-table">
                <div class="table-head">
                    <div class="status">Status</div>
                    <div class="subjects">Subjects</div>
                    <div class="replies">Replies/Views</div>
                    <div class="last-reply">Last Reply</div>
                </div>
                {% for post in posts %}
                <div class="table-row">
                    <div class="status">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="subjects">
                        <a href="{{post.get_url}}">{{post.title}}</a> <br>
                        <span>Started by<b><a href="#"> {{post.user.fullname|title}}</a></b>.</span>
                    </div>
                    <div class="replies">
                        {{post.num_comments}} comments <br>{% get_hit_count for post %} views
                    </div>
                    <div class="last-reply">
                        {{post.last_reply.date|date}}
                        <br>
                        By <b><a href="#">{{post.last_reply.user.fullname|title}}</a></b>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="{% static 'js/trialforum.js' %}"></script>  
</div>
{% endblock content %}