{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
    <title>Post Forum</title>
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" href="{% static 'css\forum.css' %}">
    <link rel="stylesheet" href="{% static 'css\scroll.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        
/* Post.html */
.table-head{
    display: flex;
}
.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #c6cacd;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.table-head .status{
    flex: 5%;
}
.table-head .subjects{
    flex: 70%;
}
.table-head .replies{
    flex: 10%;
}
.table-head .last-reply{
    flex: 15%;
}
/*table body*/
.table-row{
    display:flex;
}
.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: rgb(234, 237, 240);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}
.table-row .subjects{
    flex: 70%;
}
.table-row .replies{
    flex: 10%;
}
.table-row .last-reply{
    flex: 15%;
}
    html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    }

    .container-post {
        flex: 1; /* Ensures content takes up the necessary space */
        margin: 100px 50px 40px 50px;
    }
    .nav-link{
        color: #38444d;
        font-size: 17px;
        margin-bottom: 20px;
        display: flex;
    } 
    .nav-link i{
        font-size: 20px;
    }
    .nav-link a{
        color: #38444d;
        text-decoration: none;
        cursor: pointer;
    }
    .nav-link a:hover{
        text-shadow: 2px 2px 8px #555;
    }
    .nav-link p{
        display: inline-block;
    } 
    @media screen and (max-width: 768px){
        .nav-link{
        margin-right: 0;
        }
     
    }
    
    </style>
    {% endblock title %}

    {% block content %}   
    
  
    <!--Forum Section-->
        <div class="container-post">
            <!--navigation-->
            
                <span>
                    <div class="nav-link">
                        <div class="nav-link-content">
                          <a href="{% url 'faq' %}"><!--<i class="fa-solid fa-house"></i>-->Forum</a>
                          <i class="fa-solid fa-chevron-right"></i>
                          <p> <a href="{{forum.get_url}}"> {{forum.title}} </a></p>
                        </div> 
                      </div>
                </span>
            
            
                <div class="posts-table">
                  <div class="table-head">
                    <!--<div class="status">User</div>-->
                    <div class="subjects">Subjects</div>
                    <div class="replies">Replies/Views</div>
                    <div class="last-reply">Last Reply</div>
                  </div>
                  {% for post in posts %}
                  <div class="table-row">
                    <!--<div class="status">
                        <a href=""><i class="fas fa-user"></i></a>
                    </div>-->
                    <div class="subjects">
                        <a href="{{post.get_url}}">{{post.title}}</a> <br>
                        <span>Started by<b><a href="#"> {{post.user.fullname|title}}</a></b>.</span>
                    </div>
                    <div class="replies">
                        {{post.num_comments}} comments <br>{% get_hit_count for post %} views
                    </div>
                    <div class="last-reply">
                        {{post.last_reply.created_at|date:"F d, Y H:i"}}
                        <br>
                        By <b><a href="#">{{post.last_reply.user.fullname|title}}</a></b>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            
            <!--Pagination starts-->
            {% if posts.is_paginated %}
            <div class="pagination">
                pages: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
            </div>
             {% endif %}
             <!--pagination ends-->
        </div>
        
        <script>
                function goToLastVisitedPage() {
                const lastPage = sessionStorage.getItem('lastVisitedPage');
                if (lastPage) {
                    window.location.href = lastPage;
                } else {
                    window.location.href = "{% url 'home' %}"; // Fallback to home if no last page stored
                }
            }
        </script>
        <script src="{% static 'js/trialforum.js' %}"></script>  
{% endblock content %}